body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.parallax { 

    /* Full height */
    height: 99vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scroll1 {
    background-image: url("../images/background-1.jpeg");
}   

#linkedIn {
    position: absolute;
    top: 0;
    right: 0;
}

div#title {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 15%;
    left: 5%;
    display: none;
}

#name {
    font-size: 100px;
}

h3 {
    font-size: 40px;
}

#desc {
    font-size: 40px;
    margin-left: 4%;
}

#location {
    position: absolute;
    bottom: 2%;
    right: 1%;
}

.divider {
    padding: 50px 80px;
    background-image: radial-gradient(darkred 2% , black 130%);
}

#biography {
    color: silver;
    text-align: center;
    height: 35vh
}

#info {
    width: 60vw;
    margin-left: 13vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.8px;
}

#scroll2 {
    background-image: url("../images/background-2.jpeg");
    color: whitesmoke;
    display: flex;
    height: 80vh;
}

#slide-show {
    padding: 5vh 5vw;
    width: 45vw;
    height: 30vh;
}

#slide {
    text-decoration: none;
    text-align: center;
}

  
.previous {
    background-color: teal;
}

#previous {
    position: relative;
    bottom: 40px;
}
  
.next {
    background-color: teal;
    color: silver;
}

#next {
    position: relative;
    bottom: 40px;
}
  
.round {
    border-radius: 50%;
    text-decoration: none;
    padding: 8px 16px;
    margin-left: 13vw;
}

.round:hover {
    background-color: silver;
    color: teal;
}

#project-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

#project-link:visited {
    color: whitesmoke;
    text-decoration: none;
}

#project-link:hover {
    color: darkgoldenrod;
}

.tech {
    width: 100px;
    height: 100px;
    margin: 0px 2px;
}

#technologies {
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
}

#tech-talk {
    width: 45vw;
}

#thought-bubble {
    width: 100%;
    margin-top: 3%;
}

#spec-tech {
    width: 95%;
    margin-top: 15vh;
    font-size: 17px;
    letter-spacing: 1.2px;
    font-family: sans-serif;
    line-height: 150%;
    color: white;
}